# 환경 변수
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# 청킹 결과
chunks*.jsonl

# RAG 결과
results_*.json

# 노트북
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
